<div class="controls">
  <button (click)="zoomIn()">Zoom In</button>
  <button (click)="zoomOut()">Zoom Out</button>
  <button (click)="reset()">Reset</button>
</div>

<div>
  <label for="epochRange">Epoch:</label>
  <input
    type="range"
    id="epochRange"
    [(ngModel)]="selectedEpoch"
    [min]="0"
    [max]="maxEpoch"
    (ngModelChange)="onEpochChange()"
  />
  <span>{{ selectedEpoch }}</span>
</div>
<div>
  <label for="inputRange">Input:</label>
  <input
    type="range"
    id="inputRange"
    [(ngModel)]="selectedInput"
    [min]="0"
    [max]="maxInput"
    (ngModelChange)="onInputChange()"
  />
  <span>{{ selectedInput }}</span>
</div>
<div>
  <p>
    Inputs: <span>{{ inputs }}</span>
  </p>
  <p>
    Outputs: <span>{{ outputs }}</span>
  </p>
</div>
<canvas
  class="neuralCanvas"
  style="border: 1px solid blue"
  #neuralCanvas
  width="800"
  height="600"
  appZoomableCanvas
></canvas>
