:host {
  display: block;
}

pre {
  font-family: Consolas, monospace;
  white-space: pre-wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  .neuralCanvas {
    border: 1px solid black;
  }
  .pseudocodigo {
    border: 1px solid black;
    width: 50%;
    display: flex;
    flex-direction: column;

    .text {
      height: 100%;
    }
    .buttons {
      
    }
  }
}
